<div class="help_text">

<h2>About the Project</h2>

<p>The intention of this project is to spread awareness about police brutality in the United States. There is no centralized system of reporting for deadly encounters between police and the public. </p>

<p>This project draws from the crowd sourced data curated by the folks at <a href="http://www.fatalencounters.org" target="_blank">Fatal Encounters</a>. It is especially worth noting that a large percentage of the incidents in this database are sourced from media reports. We must take into account that media bias can skew the data we are seeing. Additionally, race and ethnicity reporting is problematic. At the time of this entry, close to 40% of the incidents have a classification of "unknown" for race and ethnicity. For those incidents that did have race and ethnicity reporting, we rely on the lens and discretion of the volunteer submitting the details.</p>

<p>Although the data is imperfect, it is still invaluable if we consider that there is no centralized, citizen accountable form of data reporting or collecting. I hope that this imperfect and, unfortunately, growing data can serve as an alarm to the need for reform and accountabilty that we must place on our armed civilians in blue.
</p>

<p>You can access the data from this project in a JSON format <a href="http://www.api.propiganda.com/"  target="_blank">here</a>.
The code for this project is available <a href="http://www.github.com/piinthecloud/sinatra_capstone"  target="_blank">here</a>.

<p>A big thank you to my friends and family for the range of support they offered leading up to this project. / Mil gracias a mis amigxs y familia por toda su apoyo durante este proyecto. </p>
</div>
