<div class="help_text"><h1>Using the API</h1>


  <p><a href="http://www.fatalencounters.org"  target="_blank">FatalEncounters</a> does a great job of curating the data that this API uses. In addition to the data collected by Fatal Encounters, I've also added latitude and longitude information for those wishing to use the data on a map.</p>

  <p>The data is scheduled to update every Sunday night. <a href="http://www.api.propiganda.com/"  target="_blank">Click here </a> to access JSON data</p>



</div>
