<div class="help_text"><h2>Using the API</h2>


  <p><a href="http://www.fatalencounters.org"  target="_blank">Fatal Encounters</a> does a great job of curating the data that this API uses. In addition to the data collected by Fatal Encounters, I've also added latitude and longitude information for those wishing to use the data on a map.</p>

  <p>The data is scheduled to update every Sunday night. <a href="http://www.api.propiganda.com/"  target="_blank">Click here </a> to access JSON data</p>

  <p>You can use the following methods on the data:<p>
    <ul>
      <li>timestamp</li>
      <li>victim_name</li>
      <li>victim_age</li>
      <li>victim_gender</li>
      <li>victim_race</li>
      <li>image_of_deceased</li>
      <li>date_searched</li>
      <li>address </li>
      <li>city</li>
      <li>state</li>
      <li>zipcode</li>
      <li>county</li>
      <li>agency_name</li>
      <li>cause_of_death</li>
      <li>summary</li>
      <li>source_link</li>
    </ul>


</div>
