<html>
<div class="help_text">
   This is a form to allow users to submit incident reports directly to the administrators of
   <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.fatalencounters.org&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEYGBg1uQLWhO2m1WTGiaAvQOrlJg"  target="_blank">www.fatalencounters.org</a>. Private respondents&#039; contact information will be kept private. All reports must be verified by public information or media reports. If you know of an incident where an encounter with law enforcement ended in an individual&#039;s death, and you can either support your knowledge with a government or media report, please submit all the information you have below, but first, please check your research subject&#039;s last name on the database, <a href="http://www.google.com/url?q=http%3A%2F%2Fbit.ly%2F1nE8SVK&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNF3nCAcD_-YmOYTmPEiEAFneoRr7A" target="_blank">http://bit.ly/1nE8SVK</a>, before you fill in any information.
   <p>Here are a couple tips: First, we only collect data for incidents between January 1, 2000 and today&#039;s date. Get as precise a street address as possible, and plug that and the city and state into Google Maps to get a zip code. Then you can plug in the zip code at <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.naco.org%2Fcounties%2Fpages%2Fcitysearch.aspx&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGNqbuFaqCumm8uGLZRRJvtcJxhxA" target="_blank">www.naco.org/counties/pages/citysearch.aspx</a> to get the county. Getting the address as precise as possible is crucial because soon we will soon be able to compare things like demographics and socio-economic status of neighborhoods against the U.S. Census zip code data: <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.census.gov&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGiitz7rVnLarHE3Na91KpWQWs1Qw" target="_blank">www.census.gov</a>.
     Try your zip code: <a href="http://www.google.com/url?q=http%3A%2F%2Fzipskinny.com&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEbaHjASOb3N2OCViu-ILj_lGcXDA" target="_blank">http://zipskinny.com</a>.
   <p>Also please, if you run across any errors, repeats, or needed clarifications, use this corrections form: <a href="http://www.google.com/url?q=http%3A%2F%2Fbit.ly%2FZ4HDOm&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNG9FnSP8NjfCjSTFitRX488-8KMDA" target="_blank">http://bit.ly/Z4HDOm</a> It&#039;s only necessary to fill in the parts that need fixing. And finally, it takes a couple of weeks to move from the fact-checking queue to the database, so I appreciate your patience. Thank you, D. Brian.  </p>
   </p>
</div>

<form class="form-inline" action="https://docs.google.com/forms/d/17_v6j0tVMRlfvIN-s_I91FkdfBLisl8Nzp2CDd5fTaU/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
  <div class="fwrapper">
    <div class="form-group">
   <ol role="list" class="ss-question-list" style="padding-left: 0">
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item ss-item-required ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1656824128">
                  <div class="ss-q-title">Subject&#39;s name
               <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
               <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
               <div class="ss-q-help ss-secondary-text" dir="ltr">Who died? (First, whatever Middle is available, Last) e.g. John James Doe or John J. Doe or John Doe.</div>
               </label>
               <input type="text" class="form-control" name="entry.1656824128" value="" class="ss-q-short" id="entry_1656824128" dir="auto" aria-label="Subject&#39;s name Who died? (First, whatever Middle is available, Last) e.g. John James Doe or John J. Doe or John Doe. " aria-required="true" required="" title="">
               <div class="error-message" id="973028721_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_296371352">
                  <div class="ss-q-title">Subject&#39;s age
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
               </label>
               <input type="text" class="form-control" name="entry.296371352" value="" class="ss-q-short" id="entry_296371352" dir="auto" aria-label="Subject&#39;s age  " title="">
               <div class="error-message" id="816752076_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-radio">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1263839494">
                  <div class="ss-q-title">Subject&#39;s gender
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
               </label>
               <ul class="ss-choices" role="radiogroup" aria-label="Subject&#39;s gender  ">
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1134833357" value="Male" id="group_1134833357_1" role="radio" class="ss-q-radio" aria-label="Male"></span>
                     <span class="ss-choice-label">Male</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1134833357" value="Female" id="group_1134833357_2" role="radio" class="ss-q-radio" aria-label="Female"></span>
                     <span class="ss-choice-label">Female</span>
                     </label>
                  </li>
               </ul>
               <div class="error-message" id="1263839494_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-checkbox">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1998743001">
                  <div class="ss-q-title">Subject&#39;s race
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
               </label>
               <ul class="ss-choices" role="group" aria-label="Subject&#39;s race  ">
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="European-American/White" id="group_129260384_1" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">European-American/White</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="African-American/Black" id="group_129260384_2" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">African-American/Black</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="Hispanic/Latino" id="group_129260384_3" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Hispanic/Latino</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="Asian" id="group_129260384_4" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Asian</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="Middle Eastern" id="group_129260384_5" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Middle Eastern</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="Pacific Islander" id="group_129260384_6" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Pacific Islander</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="Native American/Alaskan" id="group_129260384_7" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Native American/Alaskan</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="Mixed" id="group_129260384_8" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Mixed</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.129260384" value="Unknown race" id="group_129260384_9" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Unknown race</span>
                     </label>
                  </li>
               </ul>
               <div class="error-message" id="1998743001_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_778711703">
                  <div class="ss-q-title">URL of image of deceased
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">You know how to do this? Keep clicking the picture until you have the largest image possible, then right-click on it and select &quot;Copy image URL&quot; and paste it into the field. Careful with this, guys; fact-checkers keep finding officers&#39; pictures instead of victims.</div>
               </label>
               <input type="text" class="form-control" name="entry.778711703" value="" class="ss-q-short" id="entry_778711703" dir="auto" aria-label="URL of image of deceased You know how to do this? Keep clicking the picture until you have the largest image possible, then right-click on it and select &quot;Copy image URL&quot; and paste it into the field. Careful with this, guys; fact-checkers keep finding officers&#39; pictures instead of victims. " title="">
               <div class="error-message" id="1309261305_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item ss-item-required ss-date">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_513969154">
                  <div class="ss-q-title">Date of injury resulting in death (month/day/year)
               <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
               <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
               <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
               </label>
               <input type="date" name="entry.513969154" value="" class="ss-q-date" dir="auto" id="entry_513969154" aria-label="Date of injury resulting in death (month/day/year)  " aria-required="true" required="">
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1273513649">
                  <div class="ss-q-title">Location of injury (address)
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Be as specific as possible with street addresses. For example, 613 North Anna Drive is best;  600 block of North Anna Drive will work; North Anna Drive will work; North Anna Drive and La Palma Avenue will work for an intersection. Most other variations won&#39;t work. If you&#39;re uncertain, just try what you have in Google Maps. Whatever you do, don&#39;t guess. Let the fact-checker look it up.</div>
               </label>
               <input type="text" class="form-control" name="entry.1273513649" value="" class="ss-q-short" id="entry_1273513649" dir="auto" aria-label="Location of injury (address) Be as specific as possible with street addresses. For example, 613 North Anna Drive is best;  600 block of North Anna Drive will work; North Anna Drive will work; North Anna Drive and La Palma Avenue will work for an intersection. Most other variations won&#39;t work. If you&#39;re uncertain, just try what you have in Google Maps. Whatever you do, don&#39;t guess. Let the fact-checker look it up. " title="">
               <div class="error-message" id="726935261_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1463585706">
                  <div class="ss-q-title">Location of death (city)
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
               </label>
               <input type="text" class="form-control" name="entry.1463585706" value="" class="ss-q-short" id="entry_1463585706" dir="auto" aria-label="Location of death (city)  " title="">
               <div class="error-message" id="671508458_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-select">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1011455987">
                  <div class="ss-q-title">Location of death (state)
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
               </label>
               <select name="entry.1011455987" id="entry_1011455987" aria-label="Location of death (state)  ">
                  <option value=""></option>
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
                  <option value="DC">DC</option>
               </select>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1169104339">
                  <div class="ss-q-title">Location of death (zip code)
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Zip codes are easy; just plug the street address, city and state into Google Maps, and it will tell you the zip code.</div>
               </label>
               <input type="text" class="form-control" name="entry.1169104339" value="" class="ss-q-short" id="entry_1169104339" dir="auto" aria-label="Location of death (zip code) Zip codes are easy; just plug the street address, city and state into Google Maps, and it will tell you the zip code. " title="">
               <div class="error-message" id="390170131_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_297972429">
                  <div class="ss-q-title">Location of death (county)
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">If you have the zip code, you can hold the command key down and click the link to go to a page to help you find the county: <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.naco.org%2Fcounties%2Fpages%2Fcitysearch.aspx&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGNqbuFaqCumm8uGLZRRJvtcJxhxA">www.naco.org/counties/pages/citysearch.aspx</a> No need to add the word &quot;County&quot; or &quot;Parish.&quot;</div>
               </label>
               <input type="text" class="form-control" name="entry.297972429" value="" class="ss-q-short" id="entry_297972429" dir="auto" aria-label="Location of death (county) If you have the zip code, you can hold the command key down and click the link to go to a page to help you find the county: www.naco.org/counties/pages/citysearch.aspx No need to add the word &quot;County&quot; or &quot;Parish.&quot; " title="">
               <div class="error-message" id="353163715_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_573520180">
                  <div class="ss-q-title">Agency responsible for death
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Please, no abbreviations, the whole name in title case: Reno Police Department or Washoe County Sheriff&#39;s Office. Since local media assumes you&#39;re a local, sometimes they don&#39;t even write the name, but will say something like &quot;Reno police shot ...&quot; so you&#39;d check the correct name and then type in &quot;Reno Police Department.&quot;</div>
               </label>
               <input type="text" class="form-control" name="entry.573520180" value="" class="ss-q-short" id="entry_573520180" dir="auto" aria-label="Agency responsible for death Please, no abbreviations, the whole name in title case: Reno Police Department or Washoe County Sheriff&#39;s Office. Since local media assumes you&#39;re a local, sometimes they don&#39;t even write the name, but will say something like &quot;Reno police shot ...&quot; so you&#39;d check the correct name and then type in &quot;Reno Police Department.&quot; " title="">
               <div class="error-message" id="2131426135_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-checkbox">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_460489122">
                  <div class="ss-q-title">Cause of death
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Weapon, vehicle, or object as opposed to a medical description such as blunt force trauma or heart failure. It&#39;s generally &quot;Gunshot.&quot;</div>
               </label>
               <ul class="ss-choices" role="group" aria-label="Cause of death Weapon, vehicle, or object as opposed to a medical description such as blunt force trauma or heart failure. It&#39;s generally &quot;Gunshot.&quot; ">
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Gunshot" id="group_1910512570_1" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Gunshot</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Vehicle" id="group_1910512570_2" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Vehicle</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Tasered" id="group_1910512570_3" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Tasered</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Bludgeoned with instrument" id="group_1910512570_4" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Bludgeoned with instrument</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Beaten" id="group_1910512570_5" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Beaten</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Medical emergency" id="group_1910512570_6" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Medical emergency</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Asphyxiated" id="group_1910512570_7" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Asphyxiated</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Domestic violence" id="group_1910512570_8" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Domestic violence</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Stabbed" id="group_1910512570_9" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Stabbed</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Drug overdose" id="group_1910512570_10" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Drug overdose</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="Bean bag rounds" id="group_1910512570_11" role="checkbox" class="ss-q-checkbox"></span>
                     <span class="ss-choice-label">Bean bag rounds</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1910512570" value="__other_option__" id="group_1910512570_12" role="checkbox" class="ss-q-checkbox ss-q-other-toggle"></span>
                     <span class="ss-choice-label">Other:</span></label>
                     <span class="ss-q-other-container goog-inline-block"><input type="text" class="form-control" name="entry.1910512570.other_option_response" value="" class="ss-q-other" id="entry_1910512570_other_option_response" dir="auto" aria-label="Other"></span>
                  </li>
               </ul>
               <div class="error-message" id="460489122_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-paragraph-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1637102797">
                  <div class="ss-q-title">A brief description of the circumstances surrounding the death
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Brief, please. Like 70 words. Only one paragraph with no returns.</div>
               </label>
               <textarea class="form-control"  name="entry.1637102797" rows="8" cols="50"  id="entry_1637102797" dir="auto" aria-label="A brief description of the circumstances surrounding the death Brief, please. Like 70 words. Only one paragraph with no returns. "></textarea>
               <div class="error-message" id="1395461786_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-radio">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_1476368180">
                  <div class="ss-q-title">Symptoms of mental illness?
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">Were there obvious signs of sickness, like suicidal threats, or were law enforcement called by the family to aid with a mentally ill family member? In other words, should the officer have known the subject was mentally ill before arriving on scene?</div>
               </label>
               <ul class="ss-choices" role="radiogroup" aria-label="Symptoms of mental illness? Were there obvious signs of sickness, like suicidal threats, or were law enforcement called by the family to aid with a mentally ill family member? In other words, should the officer have known the subject was mentally ill before arriving on scene? ">
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.423249107" value="Yes" id="group_423249107_1" role="radio" class="ss-q-radio" aria-label="Yes"></span>
                     <span class="ss-choice-label">Yes</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.423249107" value="No" id="group_423249107_2" role="radio" class="ss-q-radio" aria-label="No"></span>
                     <span class="ss-choice-label">No</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.423249107" value="Unknown" id="group_423249107_3" role="radio" class="ss-q-radio" aria-label="Unknown"></span>
                     <span class="ss-choice-label">Unknown</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.423249107" value="Drug or alcohol use" id="group_423249107_4" role="radio" class="ss-q-radio" aria-label="Drug or alcohol use"></span>
                     <span class="ss-choice-label">Drug or alcohol use</span>
                     </label>
                  </li>
               </ul>
               <div class="error-message" id="1476368180_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item  ss-radio">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_503644754">
                  <div class="ss-q-title">Official disposition of death (justified or other)
                  </div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr">This is not a moral question, but a legal determination usually made by the district attorney, attorney general or an oversight board. Generally, it&#39;s worth a shot for a special search, using the decedent&#39;s name and the words &quot;district attorney,&quot; &quot;justified,&quot; and/or &quot;charges.&quot;  Often this is the best story to link to because it has the whole series of events from beginning to end. If there happens to be a civil suit settlement, please add that information to the description a couple of questions above.</div>
               </label>
               <ul class="ss-choices" role="radiogroup" aria-label="Official disposition of death (justified or other) This is not a moral question, but a legal determination usually made by the district attorney, attorney general or an oversight board. Generally, it&#39;s worth a shot for a special search, using the decedent&#39;s name and the words &quot;district attorney,&quot; &quot;justified,&quot; and/or &quot;charges.&quot;  Often this is the best story to link to because it has the whole series of events from beginning to end. If there happens to be a civil suit settlement, please add that information to the description a couple of questions above. ">
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1111827572" value="Justified" id="group_1111827572_1" role="radio" class="ss-q-radio" aria-label="Justified"></span>
                     <span class="ss-choice-label">Justified</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1111827572" value="Unreported" id="group_1111827572_2" role="radio" class="ss-q-radio" aria-label="Unreported"></span>
                     <span class="ss-choice-label">Unreported</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1111827572" value="Criminal" id="group_1111827572_3" role="radio" class="ss-q-radio" aria-label="Criminal"></span>
                     <span class="ss-choice-label">Criminal</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1111827572" value="Excusable" id="group_1111827572_4" role="radio" class="ss-q-radio" aria-label="Excusable"></span>
                     <span class="ss-choice-label">Excusable</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1111827572" value="Pending investigation" id="group_1111827572_5" role="radio" class="ss-q-radio" aria-label="Pending investigation"></span>
                     <span class="ss-choice-label">Pending investigation</span>
                     </label>
                  </li>
                  <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1111827572" value="__other_option__" id="group_1111827572_6" role="radio" class="ss-q-radio ss-q-other-toggle"></span>
                     <span class="ss-choice-label">Other:</span></label>
                     <span class="ss-q-other-container goog-inline-block"><input type="text" class="form-control" name="entry.1111827572.other_option_response" value="" class="ss-q-other" id="entry_1111827572_other_option_response" dir="auto" aria-label="Other"></span>
                  </li>
               </ul>
               <div class="error-message" id="503644754_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_647427734">
                  <div class="ss-q-title">Link to news article or photo of official document
               <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
               <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
               <div class="ss-q-help ss-secondary-text" dir="ltr">Only one link, please. More than one breaks the code so the link isn&#39;t live. Just pick the one that offers the most information so people can start their research there.</div>
               </label>
               <textarea class="form-control"  name="entry.647427734" rows="8" cols="50" id="entry_647427734" dir="auto" aria-label="Link to news article or photo of official document Only one link, please. More than one breaks the code so the link isn&#39;t live. Just pick the one that offers the most information so people can start their research there. " aria-required="true" required=""></textarea>
               <div class="error-message" id="1636807679_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <div class="ss-form-question errorbox-good" role="listitem">
         <div dir="ltr" class="ss-item ss-item-required ss-text">
            <div class="ss-form-entry">
               <label class="ss-q-item-label" for="entry_322566570">
                  <div class="ss-q-title">Unique identifier/submitted by
               <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
               <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
               <div class="ss-q-help ss-secondary-text" dir="ltr">If you started your submission from the spreadsheet, this is the number in Column B. This enables me to remove the listing from the spreadsheet so others don&#39;t repeat your work. If yours is a brand new addition, just type “New.” As far as submitted by, you can use your real name, an email or a user name. This is what will be published on the spreadsheet. Thank you!</div>
               </label>
               <input type="text" class="form-control" name="entry.322566570" value="" class="ss-q-short" id="entry_322566570" dir="auto" aria-label="Unique identifier/submitted by If you started your submission from the spreadsheet, this is the number in Column B. This enables me to remove the listing from the spreadsheet so others don&#39;t repeat your work. If yours is a brand new addition, just type “New.” As far as submitted by, you can use your real name, an email or a user name. This is what will be published on the spreadsheet. Thank you! " aria-required="true" required="" title="">
               <div class="error-message" id="1248763542_errorMessage"></div>
               <div class="required-message"></div>
            </div>
         </div>
      </div>
      <input type="hidden" name="draftResponse" value="[,,&quot;-626288028110860098&quot;]
         ">
      <input type="hidden" name="pageHistory" value="0">
      <input type="hidden" name="fbzx" value="-626288028110860098">
      <div class="ss-item ss-navigate">
         <table id="navigation-table">
            <tbody>
               <tr>
                  <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">

                    <button id="form_submit" type="submit" class="btn btn-danger">Submit<input type="hidden" name="submit" value="Submit" class="jfk-button jfk-button-action "></button>

                     <div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </ol>
 </div>
 </div>
</form>
<html>
