<html>
<head>
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script src="/javascripts/app.js"></script>


<!-- STYLE -->
<link rel="stylesheet" href="/bootstrap.min.css" />
<link rel="stylesheet" href="/bootstrap-responsive.min.css" />
<link rel = "stylesheet" href="/style.css" />

<!-- MAP -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="/MarkerCluster.css" />
<link rel="stylesheet" href="/MarkerCluster.Default.css" />

<!-- JS STYLE -->
<script src="/javascripts/bootstrap.min.js"></script>


<!-- JS MAP -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script src="/javascripts/leaflet.markercluster-src.js"></script>


</head>

<body>
  <!-- if current url  matches one tab, give it a class of active -->
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation" ><a href="/form">Contribute</a></li>
    <li role="presentation" ><a href="/about">About</a></li>
  </ul>


  <%= yield %>

</body>
</html>
