<html>
<head>


<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script src="/javascripts/app.js"></script>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/style.css" />

<!-- MAP -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="/MarkerCluster.css" />
<link rel="stylesheet" href="/MarkerCluster.Default.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script src="/javascripts/leaflet.markercluster-src.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
  <!-- if current url  matches one tab, give it a class of active -->

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img id="brand_image" alt="Brand" src="img/brand.png">
      </a>

          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/form">Contribute</a></li>
            <li><a href="/about">About</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>



    <%= yield %>


</body>
</html>
