<html>
  <head>
  <script src="/javascripts/jquery-2.1.1.min.js"></script>
  <script src="/javascripts/app.js"></script>

  <link rel = "stylesheet" href="/style.css" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="/MarkerCluster.css" />
<link rel="stylesheet" href="/MarkerCluster.Default.css" />


  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
  <script src="/javascripts/leaflet.markercluster-src.js"></script>









  </head>

  <body>
    <h1>test header</h1>
    <%= yield %>

  </body>
</html>
