
body {
  margin: 20px;


}

#map {
   width: 780px;
   height: 480px;
   border: 2px;
   border-color: grey;
   /*margin-top: 90px;*/
   /*margin-left: auto ;
   margin-right: auto ;*/

}

#info {
  text-align: center;
  font-size: 30px;
  /*margin-bottom: -30px;*/

}

#brand_image {
  margin-top: -15px;
  height: 50px;


}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {

  margin-left: -30px;
}

.dropdown-menu {

  z-index: 1100;
}
.dropdown {
  margin-top: 10px;
}

.map-info {
  margin-top: 90px;
}

.panel#home {

  width: 320px;
}
